{{! Previous/next page links - only displayed on page 2+ }}

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

{{#if image}}
  <article class="box">
    <a href="{{url}}" title="{{title}}" class="overlay">
      <header class="post-header">
        <h2 class="post-title">{{title}}</h2>
      </header>
      <footer class="post-footer">
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
      </footer>
    </a>
    <a href="{{url}}" class="overlay-img">
      <div class="box-bg grayscale" style="
        background: url({{image}}) no-repeat;
        background-size: cover;
        background-position: center;
      "></div>
    </a>
  </article>
{{else}}
  <article class="box">
    <a href="{{url}}" title="{{title}}" class="overlay no-img">
      <header class="post-header">
        <h2 class="post-title">{{title}}</h2>
      </header>
      <footer class="post-footer">
        {{#if tags}}
          <p>On 
          {{#foreach tags}}
            <em class="post-tag">{{name}}</em>
            {{^if @last}}
                ,
            {{/if}}
          {{/foreach}}
          </p>
        {{/if}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
      </footer>
    </a>
  </article>
{{/if}}

{{/foreach}}

{{pagination}}

{{! Previous/next page links - displayed on every page }}

